* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

.header {
    width: 100%;
    height: 85px;
    background: black;
    position: absolute;
    vertical-align: top;
}


a {
    text-decoration: none;
    outline: none !important;
}

.header a:visited {
    color: white;
}

.header a:link {
    color: white;
}

.header ul {
    float: right;
    display: inline-table;
    color: white;
    list-style: no;
}

.header li {
    display: inline-block;
    font-size: 60px;
}

.header .a:hover {
  cursor: pointer;
  transform: scale(1.015);
}
.header .a:hover {
  cursor: pointer;
  transform: scale(1.015);
}

.iconBoard {
    top: 86px;
    width: 85px;
    height: 655px;
    background: white;
    position: absolute;
    vertical-align: top;
}

.iconBar {
    position: relative;
    top: 86px;
    width: 82px;
    background-color: white;
}

.iconBar a {
    display: block;
    text-align: center;
    padding: 15px;
    transition: all 0.5s ease;
    color: black;
    font-size: 40px;
}

.iconBar a:hover {
    background-color: #202020;

}

.iconBar-cog {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 80px;
    background-color: white;
}

.iconBar-cog a {
    display: block;
    text-align: center;
    padding: 15px;
    transition: all 0.5s ease;
    color: black;
    font-size: 40px;
}

.iconBar-cog a:hover {
    background-color: #202020;

}

.popup-fade {
	display: none;
}
.popup-fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9999;
}
.popup {
	position: fixed;
	top: 20%;
	left: 50%;
	padding: 30px;
	width: 160px;
	margin-left: -200px;	
	background: #fff;
	border: 1px solid orange;
	border-radius: 4px; 
	z-index: 99999;
	opacity: 1;	
}
.popup-close {
  color: black;
	position: absolute;
	top: 10px;
	right: 10px;
}

#button-icon {
  display: block;
  text-align: center;
  color: black;
  font-size: 40px;
  cursor: pointer;
}

.header-wrap {
  margin: 90px 0;
  text-align: center;
  font-family: sans-serif;
  color: white;
}

.header-wrap h1 {
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 46px;
}




/*ace*/
.ace_editor {
	font-size: 14px !important;
}

#ide-parent {
  position: relative;
  top: -66px;
  left: 45px;
  width: 94.4%;
  height: 655px;
  overflow: hidden;
  margin: auto;
  box-shadow: 0 0 10px 1px black;
}

#button-wrapper {
  border: 2px solid white;
  display: flex;
  width: 100%;
  height: 60px;
}

#button-wrapper button {
  width: 25%;
  border: none;
  background: black;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  font-family: "Arial", sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 13px;
  outline: none;
  transition-duration: 400ms;
}

#button-wrapper button:hover {
  background: #202020;
}

#ide-container {
  position: absolute;
  top: 60px;
  color: red;
  border: none;
  width: 100%;
  height: 100%;
}

.panel-wrapper {
  border: none;
  width: 100%;
  height: 69%;
}

#html {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#css {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#js {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#result {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  background: black;
  border: none;
}

.ace-dracula {
  background-color: #162447 !important;
}

.ace-dracula .ace_gutter {
  background: #162447 !important;
}

.ace_scrollbar-h {
  scrollbar-color: #1f4068 #162447 !important;
  scrollbar-width: thin !important;
  cursor: pointer;
}

.ace_scrollbar-v {
  scrollbar-color: #1f4068 #162447 !important;
  scrollbar-width: thin !important;
  cursor: pointer;
}

.ace_scrollbar-h::-webkit-scrollbar {
  border: none;
  height: 0.6em;
}

.ace_scrollbar-h::-webkit-scrollbar-thumb {
  background: #1f4068;
  border: none;
}

.ace_scrollbar-h::-webkit-scrollbar-thumb:hover {
  background: #173458;
}

.ace_scrollbar-h::-webkit-scrollbar-track {
  background: transparent;
}

.ace_scrollbar-v::-webkit-scrollbar {
  border: none;
  width: 0.6em;
}

.ace_scrollbar-v::-webkit-scrollbar-thumb {
  background: #1f4068;
  border: none;
}

.ace_scrollbar-v::-webkit-scrollbar-thumb:hover {
  background: #173458;
}

.ace_scrollbar-v::-webkit-scrollbar-track {
  background: transparent;
}

.inner-wrap {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-wrap img {
  width: 24px;
  height: auto;
}

.inner-wrap a {
  margin-left: 24px;
}

.icons-wrap {
	display: flex;
	align-items: center;
}

footer {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 740px;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0px 0px;
  background: black;
  border: 3px solid white;
}

footer > p {
  color: white;
}

.iconBar-cog > p {
  color: black;
  text-align:  center;
}

