<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Page</title>
    <%- include ../blocks/icon -%>
    <link rel="stylesheet" href="stylesheets/error.css" />
    <link rel="stylesheet" href="stylesheets/footer.css" />
    <link rel="stylesheet" href="stylesheets/header.css" />
  </head>
  <body>
    <%- include ../blocks/header -%>
    <h1>Main Page</h1>
    <header class="masthead">
      <meta harset="UTF-8" />
      <p class="masthead-intro">I'm sorry</p>
      <h1 class="masthead-heading">This page is incorrect</h1>
    </header>
    <%- include ../blocks/footer -%>
  </body>
</html>
